<div class="innerContainer">
  <div class="row ">
    <div class="col-md-6 ">
      <p class="">Sell your Designs on Third</p>
      <p class="">Dimension Today.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
    </div>
    <div class="col-md-6 ">
      <%= image_tag "tower_of_skulls", class: "home_page_image"%>
    </div>
  </div>
</div>