<div class="innerContainer">
  <div class="row ">
    <div class="col-md-6 ">
      <p class="">Sell your Designs on Third</p>
      <p class="">Dimension Today.</p>
    </div>

    <div class="col-md-6 ">
      <%= image_tag "tower_of_skulls", class: "home_page_image"%>
    </div>
  </div>
  <div class="text-dark mt-5">
    <%= link_to "Get Started", new_user_session_path, class:"btn product_page_btn"%>
  </div>
</div>