/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kurale&display=swap");

body {
  height: 100vh;
  background: linear-gradient(164.75deg, #000000 21.57%, #6738a4 75.92%);
}

.user-btn {
  width: 140px;
  margin-top:1rem;
  margin-bottom:1rem;
  font-family: "Kurale", serif;
  background-color: #ff7f00 !important;
  position: absolute;
  bottom: 0px;
  color: white;
  font-weight: bold;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: #ff7f00;
    font-size: larger;
    font-weight: bold;
    color: white;
  }
}

