// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  max-width: 100%;
}

body {
  height: 100vh;
  background: linear-gradient(164.75deg, #000000 21.57%, #6738a4 75.92%);
}

.innerContainer {
  color: #fff;
  // display: inline-block;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  // background: none;
  z-index: 1;
  // border: 3px solid red;
  p {
    text-align: center;
    position: absolute;
    top: 300px;
    font-size: 24px;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    line-height: 2px;
  }
  .btn {
    width: 140px;
    position: absolute;
    top: 350px;
    background-color: #954c23;
    border: none;
    &:hover {
      background-color: #ff7f00;
      font-weight: bold;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Kurale", serif;
}

.home_page_image {
  transform: scale(1, 1);
  // width: 100%;
  // height: 80vh;
  position: fixed;
  // top: 30rem;
  right: -25rem;
  z-index: -3;
  opacity: 50%;
}

// background: linear-gradient(164.75deg, #000000 21.57%, #6738a4 75.92%);
// box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.25);

// /* Rectangle 16 */

// position: absolute;
// width: 1070px;
// height: 810px;
// left: 873px;
// top: 277px;

// background: url(towerOfSkulls.png);

// /* THIRD DIMENSION */

// position: absolute;
// width: 204px;
// height: 28px;
// left: 40px;
// top: 45px;

// font-family: Roboto;
// font-style: normal;
// font-weight: 500;
// font-size: 24px;
// line-height: 28px;
// display: flex;
// align-items: center;

// color: #ffffff;

// /* Dioramas */

// position: absolute;
// width: 124px;
// height: 27px;
// left: 494px;
// top: 100px;

// font-family: Kurale;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 27px;
// /* identical to box height */
// display: flex;
// align-items: center;
// text-align: center;

// color: #ffffff;

// /* Models */

// position: absolute;
// width: 90px;
// height: 27px;
// left: 687px;
// top: 100px;

// font-family: Kurale;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 27px;
// /* identical to box height */
// display: flex;
// align-items: center;
// text-align: center;

// color: #ffffff;

// /* Account */

// position: absolute;
// width: 90px;
// height: 27px;
// left: 1318px;
// top: 38px;

// font-family: Kurale;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 27px;
// /* identical to box height */
// display: flex;
// align-items: center;
// text-align: center;

// color: #ffffff;

// /* Supplies */

// position: absolute;
// width: 105px;
// height: 27px;
// left: 840px;
// top: 100px;

// font-family: Kurale;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 27px;
// /* identical to box height */
// display: flex;
// align-items: center;
// text-align: center;

// color: #ffffff;

// /* akar-icons:shopping-bag */

// position: absolute;
// width: 24px;
// height: 24px;
// left: 1292px;
// top: 43px;

// /* Group */

// position: absolute;
// left: 13.2%;
// right: 13.2%;
// top: 8.33%;
// bottom: 8.33%;

// /* Vector */

// position: absolute;
// left: 13.2%;
// right: 13.2%;
// top: 33.33%;
// bottom: 8.33%;

// border: 1.33333px solid #ffffff;

// /* Vector */

// position: absolute;
// left: 33.33%;
// right: 33.33%;
// top: 8.33%;
// bottom: 54.17%;

// border: 1.33333px solid #ffffff;

// /* First Name */

// position: absolute;
// width: 89px;
// height: 21px;
// left: 494px;
// top: 392px;

// font-family: Roboto;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 21px;
// /* identical to box height */

// color: #ffffff;

// /* Email */

// position: absolute;
// width: 45px;
// height: 21px;
// left: 494px;
// top: 579px;

// font-family: Roboto;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 21px;
// /* identical to box height */

// color: #ffffff;

// /* Last Name */

// position: absolute;
// width: 88px;
// height: 21px;
// left: 494px;
// top: 459px;

// font-family: Roboto;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 21px;
// /* identical to box height */

// color: #ffffff;

// /* Date of Birth */

// position: absolute;
// width: 101px;
// height: 21px;
// left: 494px;
// top: 520px;

// font-family: Roboto;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 21px;
// /* identical to box height */

// color: #ffffff;

// /* Rectangle 21 */

// position: absolute;
// width: 191px;
// height: 24px;
// left: 494px;
// top: 423px;

// background: #ffffff;
// border: 1px solid #000000;

// /* Rectangle 22 */

// position: absolute;
// width: 191px;
// height: 24px;
// left: 494px;
// top: 607px;

// background: #ffffff;
// border: 1px solid #000000;

// /* Rectangle 23 */

// position: absolute;
// width: 191px;
// height: 24px;
// left: 494px;
// top: 484px;

// background: #ffffff;
// border: 1px solid #000000;

// /* Rectangle 24 */

// position: absolute;
// width: 191px;
// height: 24px;
// left: 494px;
// top: 545px;

// background: #ffffff;
// border: 1px solid #000000;

// /* GetStartedBtn */

// position: absolute;
// width: 142px;
// height: 35px;
// left: 519px;
// top: 669px;

// /* Rectangle 6 */

// position: absolute;
// width: 142px;
// height: 35px;
// left: 519px;
// top: calc(50% - 35px / 2 + 174.5px);

// background: #954c23;
// border-radius: 4px;

// /* Create Account */

// position: absolute;
// width: 139.63px;
// height: 35px;
// left: 519px;
// top: calc(50% - 35px / 2 + 174.5px);
