// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  max-width: 100%;
}
.nav-avatar{
  width: 40px;
  height: 40px;
  object-fit: contain;
} 
.innerContainer {
  color: #fff;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  p {
    // text-align: center;
    position: relative;
    top: 250px;
    font-size: 24px;
    text-align: left;
    // align-items: left;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Kurale", serif;
}

.home_page_image {
  transform: scale(1, 1);
  // width: 100%;
  // height: 80vh;
  position: fixed;
  // top: 30rem;
  right: -25rem;
  z-index: -3;
  opacity: 50%;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom:2rem ;
  border-radius: 50%;
}

.get-started-btn {
  width: 140px;
  margin-top:1rem;
  margin-bottom:1rem;
  font-family: "Kurale", serif;
  background-color: #ff7f00 !important;
  position: absolute;
  bottom: 200px;
  color: white !important;
  font-weight: bold !important;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: #ff7f00;
    font-size: larger;
    font-weight: bold;
    color: white;
  }
}